table{
  border-collapse: collapse;
  width:100%;
}


.left{
  width:50%;
  position:absolute;
  top:2%;
}

.right h2{
  position:absolute;
  top:2%;
  right:20%;
  text-align:center;
}

.right .rightContent{
  position:absolute;
  top:18.5%;
  right:3%;
  width:40%;
  text-align:center;
}
